html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  width: 546px;
  margin: auto;
}

.flex-item {
  display: flex;
  margin: auto;
}

.reels-container {
  background-color: #140100;
  height: 306px;
}

.reels-container .flex-item {
  width: 25%;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

.panel-container {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url(../img/keypanel.png);
  height: 672px;
}

.a-btn:focus,
.b-btn:focus,
.c-btn:focus {
  outline: 0;
}

.b-btn:hover,
.c-btn:hover {
  transform: scale(1.1);
}

.a-btn,
.b-btn,
.c-btn {
  color: white;
  position: absolute;
  bottom: 0;
  margin: auto;
  display: block;
  cursor: pointer;
  font-size: 1.87rem;
  border: 2px solid white;
}

.b-btn,
.c-btn {
  font-size: 1.2rem;
}

.a-btn {
  top: -20%;
  right: 0;
  left: 0;
  background-color: #ff9800;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 12.5rem;
}

.a-btn:hover {
  transform: scale(0.8);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.b-btn {
  top: 22%;
  margin-left: 0;
  right: 0;
  left: 32%;
  background-color: #ec6eb6;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 3.75rem;
}

.b-btn:hover {
  border-color: #ac347a;
  box-shadow: 0 0 1rem #ac347a;
}

.c-btn {
  top: -50%;
  margin-left: 0;
  right: 0;
  left: 3%;
  background-color: #2ecc71;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 3.75rem;
}

.c-btn:hover {
  border-color: #215c3a;
  box-shadow: 0 0 1rem #215c3a;
}

.pop-over {
  display: none;
  position: absolute;
  top: 44%;
  right: 25%;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #ec6eb6;
  background: linear-gradient(to top, #72174b, #ec6eb6);
  background: -webkit-linear-gradient(to top, #72174b, #ec6eb6);
  height: 30px;
  width: 120px;
  padding: 1.2rem 0.8rem;
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0 8px 15px -6px #210224;
  font-size: 14px;
}

.pop-over.open {
  display: block;
}

.pop-over::before,
.pop-over::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  width: 0;
  height: 0;
}

.pop-over::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-top: 10px solid transparent;
}

.pop-over::after {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #ec6eb6;
  border-top: 13px solid transparent;
}

.pop-over span {
  color: white;
  display: inline-block;
}

span.close-btn {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ec6eb6;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.slider-container {
  display: none;
  position: absolute;
  height: 15.6rem;
  width: 1.56rem;
  top: 5%;
  bottom: 0;
  left: 3%;
  right: 0;
  margin: auto;
  z-index: 10;
  padding-top: 15px;
  margin-left: 0;
}

.slider-container.open {
  display: block;
}

.slider-container .fa {
  position: absolute;
  color: white;
}

.slider-container .fa-volume-up {
  margin-top: -14px;
  margin-right: -8px;
  right: 0;
}

.slider-container .fa-volume-down {
  left: 75%;
  bottom: 0;
  margin-bottom: -14px;
}

#slider {
  position: absolute;
  background: #f5e571;
  background: linear-gradient(to top, #f5e571, #2ecc71);
  background: -webkit-linear-gradient(to top, #f5e571, #2ecc71);
  border-radius: 15px;
  height: 12.5rem;
  width: 5px;
  left: 25px;
  margin: 25px auto;
}

#slider .ui-slider-range-max {
  height: 12.5rem;
  width: 5px;
  position: absolute;
  background: gray;
  border: none;
  border-radius: 10px;
  outline: none;
}

#slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 20px;
  background: #2ecc71;
  position: absolute;
  margin-top: auto;
  margin-bottom: -200%;
  margin-left: -11px;
  cursor: pointer;
  outline: none;
}

@media all and (max-width: 500px) {
  html {
    font-size: 10px;
  }

  .flex-row {
    width: 100%;
  }

  .a-btn {
    top: -47%;
  }

  .b-btn {
    top: -20%;
  }

  .c-btn {
    top: -67%;
  }

  .pop-over {
    top: 0;
  }

  .slider-container {
    top: 22%;
    margin-top: 0;
    left: 0.5%;
  }

  .slider-container .fa-volume-up {
    margin-right: -18px;
  }

  .slider-container .fa-volume-down {
    left: 137%;
    margin-bottom: -35px;
  }

  span.close-btn {
    font-size: 10px;
  }
}
